script(type='text/x-template')#login-template
	.welcome__card.welcome__card--back
				h2.welcome__title.title-strip Авторизируйтесь
				form.login-form(action='')
					label.welcome__label
						input.welcome__input#auth-login(
							type="text" 
							placeholder='Логин' 
							name='login'
							v-model='user.name'
							)
						.welcome__icon-wrapper 
							+icon('login', 'welcome__icon')
						.input__error#auth-login--error Вы не ввели логин

					label.welcome__label
						input.welcome__input#auth-pass(
							type="password" 
							placeholder='Пароль' 
							name='pass'
							v-model='user.password'
							)
						.welcome__icon-wrapper 
							+icon('password', 'welcome__icon')
						.input__error#auth-pass--error Вы не ввели пароль

					input.welcome__input-checkbox(type='checkbox' name='captcha' id='captcha-checkbox')
					label.welcome__label.welcome__checkbox(for='captcha-checkbox') Я человек
					.welcome__radio-row
						input.welcome__input-radio(type="radio" name='radio-captcha' id='yes' value='yes')
						label.welcome__label.label__radio(for='yes') Да
						input.welcome__input-radio(type="radio" name='radio-captcha' id='no' value='no')
						label.welcome__label.label__radio(for='no') Не уверен
					.navigation
						ul.navigation__list
							li.navigation__item
								button.navigation__button#welcome__btn-auth Главная
							li.navigation__item
								button.navigation__button(@click='login' type="submit") Войти