-var socialNetworks= [['vk', 'https://vk.com'], ['github', 'https://github.com'], ['in', 'https://linkedin.com']]

mixin icon(iconName, iconClass)
	svg(class=`${iconClass}`)
		use(xlink:href=`/assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
	img(src=`/assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin nav(className, items, active)
	nav(class=className)
		ul(class=className + '__list')
			each item, index in items
				li(class=className +'__item')
					if index === active
						a(class=className + '__link ' + className +'__link-active', href=item[1]) #{item[0]}
					else
						a(class=className + '__link ', href=item[1]) #{item[0]}

mixin social(socialClass)
	if socialClass != undefind
		ul.social(class=socialClass)
			each icon in socialNetworks
				li.social__item(class=socialClass + '--item')
					a.social__link(href=icon[1], class=socialClass + '--link')
						+icon(icon[0], 'social__icon ' + socialClass + '--icon')
	else
		ul.social
			each icon in socialNetworks
				li.social__item
					a.social__link(href=icon[1])
						+icon(icon[0], 'social__icon')