include ./common/_mixins
block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		
		title Portfolio | #{title}
		link(rel='stylesheet' href='main.min.css')
	body
		.wrapper
			.hero(class=heroClass)
				header.header 
					.header__social
						+social
					button.hamburger.hamburger--squeeze#hamburger(type="submit")
						span.hamburger-box
							span.hamburger-inner

				.hero__content
					.hero__photo(style='background-image: url(../../assets/images/man_photo.jpg)')
					block heroContant
				.bg-triangles
					svg.bg-triangle(viewBox="0 0 100 100" preserveAspectRatio="none")
						polygon(points="0 100, 50 100, 0 0" class=bg + '-left')
						polygon(points="50,100 100,0 100,100" class=bg + '-right')
					svg.bg-square
						rect(x="0" y="0" width="50%" height="2px" class=bg + '-left')
						rect(x="50%" y="0" width="50%" height="2px" class=bg + '-right')

			main.maincontent#go-here
				block content

			include ./common/footer.pug

		include ./components/entry.pug

		script(src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.min.js")

		script(src='bootloader.bundle.js')
		script(src='vendor.bundle.js')
		block scripts
